<html>
    <body>
        <form action="#" th:action="@{/editProduct}" th:object="${product}" method="post">
            <label for="id">ID</label>
            <input type="text" disabled th:field="*{id}" id="id" th:value="${product.id}">
            <label for="sku">SKU</label>
            <input type="text" th:field="*{sku}" id="sku" th:value="${product.sku}">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" th:value="${product.name}">
            <label for="price">Price</label>
            <input type="text" th:field="*{price}" id="price" th:value="${product.price}">
            <label for="price">Category</label>
            <input type="text" th:field="*{category}" id="category" th:value="${product.category}">
            <input type="submit" value="Add Product">   
        </form>
    </body>
</html>
