<html>
<head>
  <title>
    <INSERT TITLE HERE>
  </title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
</head>
<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModalCenter" tabindex="-1" role="dialog" aria-labelledby="signUpModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLongTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="signUpEmail1">Email address</label>
            <input type="email" class="form-control" id="signUpEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Your email will never be shared. <i class="fas fa-award"></i> </small>
          </div>
          <div class="form-group">
            <label for="signUpPassword">Password</label>
            <input type="password" class="form-control" id="signUpPassword" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<!-- Sign In Modal -->
<div class="modal fade" id="signInModalCenter" tabindex="-1" role="dialog" aria-labelledby="signInModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLongTitle">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="signInEmail1">Email address</label>
            <input type="email" class="form-control" id="signInEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="signUpPassword">Password</label>
            <input type="password" class="form-control" id="signInPassword" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Sign In</button>
      </div>
    </div>
  </div>
</div>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Brand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBootcamp"
        aria-controls="navbarBootcamp" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarBootcamp">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard.html">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/products">Products</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-lilnk my-2 my-sm-0" type="button" data-toggle="modal" data-target="#signInModalCenter">Sign In</button>
          <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#signUpModalCenter">Sign Up</button>
        </form>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2>Orders</h2>
          <hr>
          <div class="container">
            <div class="row">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Total</th>
                    <th>Order Date</th>
                    <th>Total Items</th>
                    <th>Purchaser</th>
                    <th class="text-center">Shipped</th>
                </tr>
            </thead>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}">ABC</td>
                        <td th:text="${#numbers.formatCurrency(order.lineItems.total)}">Shoes</td>
                        <td th:text="${order.orderDate}">Air Jordan</td>
                        <td th:text="${#arrays.length(order.lineItems)}">100.00</td>
                        <td th:text="${order.urchaser.id}">100.00</td>
                        <td class="text-center"><span class="glyphicon" th:classappend="${order.shipDate} ?  'glyphicon-ok-sign' : 'glyphicon-remove-sign'"></span></td>
                    </tr>
            </table>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <h4><b>version 0.1</b> </h4>
    </div>
  </footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>